{% extends "base.html" %}

{% block title %}{{ page.title }} &middot; {{ config.title }}{% endblock title %}

{% block content %}
<article class="gallery">
  <header class="gallery__header">
    <h1>{{ page.title }}</h1>
    {% include "partials/post_meta.html" %}
    {% if page.content %}<div class="content">{{ page.content | safe }}</div>{% endif %}
  </header>

  <div class="masonry">
    {% for img in page.extra.images %}
    <figure class="masonry__item">
      <a class="masonry__link" id="{{ page.slug }}-thumb-{{ loop.index }}" href="#{{ page.slug }}-{{ loop.index }}">
        <img src="{{ get_url(path='@/' ~ page.colocated_path ~ img.src) }}" alt="{{ img.alt }}" loading="lazy" decoding="async">
      </a>
      {% if img.caption %}<figcaption>{{ img.caption }}</figcaption>{% endif %}
    </figure>
    {% endfor %}
  </div>

  {# CSS-only lightbox overlays with prev/next (carousel). #}
  {{ <lightbox images={page.extra.images} id_prefix={page.slug} base_path={page.colocated_path} /> }}
</article>
{% endblock content %}
